@media only screen and (min-width: 60em) {

  .box {
    max-width: 700px;
  }
    #bottombox {
  margin-bottom: 0px;
  display: grid;
  grid-template-columns: auto auto;
  width: 700px;
  height: auto;
}
  footer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  header{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
    }
  header img {
    width: 100px;
    height: 100px;
}
nav{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
#firstsection {
    max-width: 720px;

  }
#heroimage {
  display: block;
  margin: 10px auto;
  width: 100%;
}
/*forecast*/
}
#hide,
	grid-container,
	grid-item {
		display: grid;
        visibility: visible;
        
	}

	#hide {
		margin-bottom: 2em;
	}

	#hide h3 {
		text-align: center;
	}

.grid-container {
		display: grid;
		grid-template-columns: auto auto auto auto auto;
        grid-column-gap:7px;
		background-color: #ff7f50;
		padding: 7px;
		max-width: 520px;
		margin-left: auto;
		margin-right: auto;
        text-align: center;
        border: 2px dashed #4b3f72;
	}
	/*end of forecast */
img {
  border-radius: 15px;
  z-index: 1;
  box-shadow: 0 0 30px #444;
  background-color: currentColor;
}
.container {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 1em;
  margin-bottom: 1em;
}
/*form stuff*/
form label.sbs{
  padding: 1rem 0;

}
select::-ms-expand {
    display: none;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
}